## Tasks

# Task 1: Source the Data Set
Datasets

In [26]:
# Import datasets.
import sklearn as skl

## Resources 

https://archive.ics.uci.edu/datasets

## Loading Datasets

https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html

what the load_iris() function returns?

It's a sort of a dictionnary that shows all the dataset information. It lists the Data istelf and other grouped information linked to it.

In [27]:
# load the dataset.
data = skl.datasets.load_iris()

# Task 2: Explore the Data Structure

* Resources:
    - https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html#sklearn.datasets.load_iris
    - https://scikit-learn.org/1.4/auto_examples/datasets/plot_iris_dataset.html

Printing and explaining the shape of the data set, the first and last 5 rows of the data, the feature names, and the target classes.

* The shape of dataset      : the dataframe shows a table of 3 classes, 4 columns with 150 lines. The data frame represents Three iris species with 50 samples each.
* The first 5 rows of data  : **Setosa** features *sepal length (cm)', 'sepal width (cm)', 'petal length (cm)','petal width (cm)'*
* The last 5 rows of data   : **virginica** features *sepal length (cm)', 'sepal width (cm)', 'petal length (cm)','petal width (cm)'*
* The features names        : ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
* The target classes        : 'setosa', 'versicolor', 'virginica'

In [28]:
# load the dataset as a pandas dataframe.
from sklearn.datasets import load_iris
import pandas as pd

data = load_iris()
df = pd.DataFrame(data.data, columns=data.feature_names,)
df['species'] = pd.Categorical.from_codes(data.target, data.target_names)
# Categorical data is a Pandas data type representing particular (fixed) numbers of class or distinct values.
list(data.target_names)
display(df)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [29]:
# data shape
data['data'].shape

(150, 4)

### Task 3: Summarize the Data

Calculating and displaying the following values for each feature in the dataset:
* mean
* minimum
* maximum
* standard deviation
* median

In [30]:
data['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [35]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000